services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    
    container_name: tech_test_backend
    restart: unless-stopped
    
    environment:
      - ENV=development
    
    # Volume mount for hot reload
    volumes:
      - ./backend:/app
    
    ports:
      - "8000:8000"
    
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - API_BASE_URL=http://localhost:8000
    
    container_name: tech_test_frontend
    restart: unless-stopped
    
    ports:
      - "80:80"
    
    depends_on:
      - backend