.action-card {
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.action-card:hover {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.rotate-180 {
  transform: rotate(180deg);
}

::ng-deep .action-card .mat-mdc-card {
  padding: 0 !important;
}
