@import '@angular/material/prebuilt-themes/indigo-pink.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.error-snackbar .mat-mdc-snack-bar-label,
.error-snackbar .mat-mdc-button {
  color: white !important;
}
